form {
    display: flex;
    justify-content: center;
    border: solid #4b00824a;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    background-color: #4b00824a;
}

input {
    border-radius: 20px;
    border: white;
    padding: 10px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:focus{
    outline: none;
}
